# **RISKS OF PURCHASING AND OPERATING AIRPLANES FOR COMMERCIAL AND PRIVATE ENTERPRISES**

This analysis showcases the risks that can be incurred when operating aircrafts.

## **IMPORTS AND PREVIEW**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('AviationData.csv')

/tmp/ipykernel_47295/1486930290.py:1: DtypeWarning: Columns (6,7,17,23,28,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AviationData.csv')

### Familiarizing with the data

In [3]:
# checking which columns have been mentioned in the error above.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52703 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32289 non-null  object
 13  Registration.Number     87505 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82806 non-null  object
 18  Engine.Type             81792 non-null  object
 19  FAR.Description         32026 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82694 non-null  object
 22  Air.carrier             16651 non-null  object
 23  Total.Fatal.Injuries    77486 non-null  object
 24  Total.Serious.Injuries  76380 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82976 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61726 non-null  object
 29  Report.Status           82502 non-null  object
 30  Publication.Date        75118 non-null  object
 31  Unnamed: 31             26 non-null     object
dtypes: float64(3), object(29)
memory usage: 21.7+ MB

Out of the mentioned columns, I need column Number.of.Engines and Total.Fatal.Injuries. I will change the data type when i get to the individual columns when cleaning.

In [4]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Unnamed: 31
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,NaN
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,NaN
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,NaN
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,NaN

In [5]:
df.describe()

       Total.Serious.Injuries  Total.Minor.Injuries  Total.Uninjured
count            76380.000000          76956.000000     82976.000000
mean                 0.279864              0.357100         5.325444
std                  1.544072              2.235634        27.913804
min                  0.000000              0.000000         0.000000
25%                  0.000000              0.000000         0.000000
50%                  0.000000              0.000000         1.000000
75%                  0.000000              0.000000         2.000000
max                161.000000            380.000000       699.000000

In [6]:
# checking for missing values
df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36186
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56600
Registration.Number        1384
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6083
Engine.Type                7097
FAR.Description           56863
Schedule                  76307
Purpose.of.flight          6195
Air.carrier               72238
Total.Fatal.Injuries      11403
Total.Serious.Injuries    12509
Total.Minor.Injuries      11933
Total.Uninjured            5913
Weather.Condition          4492
Broad.phase.of.flight     27163
Report.Status              6387
Publication.Date          13771
Unnamed: 31               88863
dtype: int64

## **DATA** **CLEANING**

### Dropping Columns

In [7]:
# dropping columns with more than 30,000 missing values which adds up to about 33% of the total
#number of entries
df.drop(['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.Category', 'FAR.Description', 'Schedule', 'Air.carrier', 'Broad.phase.of.flight', 'Unnamed: 31'], axis = 1, inplace = True)

In [8]:
# Dropping columns that will not be necessary in my analysis.
df.drop(['Accident.Number', 'Registration.Number', 'Report.Status', 'Publication.Date'], axis = 1, inplace = True)

In [9]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Event.Date', 'Location', 'Country',
       'Injury.Severity', 'Aircraft.damage', 'Make', 'Model', 'Amateur.Built',
       'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Injury.Severity         87889 non-null  object
 6   Aircraft.damage         85695 non-null  object
 7   Make                    88826 non-null  object
 8   Model                   88797 non-null  object
 9   Amateur.Built           88787 non-null  object
 10  Number.of.Engines       82806 non-null  object
 11  Engine.Type             81792 non-null  object
 12  Purpose.of.flight       82694 non-null  object
 13  Total.Fatal.Injuries    77486 non-null  object
 14  Total.Serious.Injuries  76380 non-null  float64
 15  Total.Minor.Injuries    76956 non-null  float64
 16  Total.Uninjured         82976 non-null  float64
 17  Weather.Condition       84397 non-null  object
dtypes: float64(3), object(15)
memory usage: 12.2+ MB

In [11]:
df.duplicated().value_counts()

False    88851
True        38
Name: count, dtype: int64

In [12]:
df[df.duplicated(keep=False)].sort_values(by='Event.Id')

,Event.Id,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
34512,20001206X00768,Accident,1994-02-12,"GRAND CANYON, AZ",United States,Non-Fatal,Substantial,Cessna,402C,No,2,Reciprocating,Positioning,0.0,0.0,0.0,3.0,VMC
34513,20001206X00768,Accident,1994-02-12,"GRAND CANYON, AZ",United States,Non-Fatal,Substantial,Cessna,402C,No,2,Reciprocating,Positioning,0.0,0.0,0.0,3.0,VMC
34847,20001206X01157,Accident,1994-04-10,"OKEECHOBEE, FL",United States,Non-Fatal,Substantial,Globe,9C-1B,No,1,Reciprocating,Unknown,0.0,0.0,0.0,2.0,VMC
34846,20001206X01157,Accident,1994-04-10,"OKEECHOBEE, FL",United States,Non-Fatal,Substantial,Globe,9C-1B,No,1,Reciprocating,Unknown,0.0,0.0,0.0,2.0,VMC
35076,20001206X01324,Accident,1994-05-19,"STOCKTON, CA",United States,Non-Fatal,Substantial,Robinson,R22-B,No,1,Reciprocating,Other Work Use,0.0,0.0,1.0,1.0,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63296,20070917X01400,Accident,2007-09-02,"FARMINGDALE, NY",United States,Non-Fatal,Substantial,North American,SNJ-2,No,1,Reciprocating,Other Work Use,NaN,NaN,NaN,2.0,VMC
88386,20220822105776,Accident,2022-08-20,"Bealeton, VA",United States,Minor,Substantial,BOEING,A75N1,No,1.0,NaN,Business,0,2.0,0.0,2.0,VMC
88387,20220822105776,Accident,2022-08-20,"Bealeton, VA",United States,Minor,Substantial,BOEING,A75N1,No,1.0,NaN,Business,0,2.0,0.0,2.0,VMC
88527,20220921105978,Incident,2022-09-14,"Mumbai,",India,NaN,NaN,BOEING,787,No,NaN,NaN,NaN,0,0.0,0.0,0.0,NaN
88528,20220921105978,Incident,2022-09-14,"Mumbai,",India,NaN,NaN,BOEING,787,No,NaN,NaN,NaN,0,0.0,0.0,0.0,NaN

In [13]:
df = df.drop_duplicates()
df.shape

(88851, 18)

###Working on individual columns

####Location

In [14]:
df['Location'].isnull().sum()

52

In [15]:
df['Location'].unique()

array(['MOOSE CREEK, ID', 'BRIDGEPORT, CA', 'Saltville, VA', ...,
       'San Manual, AZ', 'Auburn Hills, MI', 'Brasnorte, '], dtype=object)

In [16]:
df['Location'] = df['Location'].fillna('Unknown')
df

,Event.Id,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
0,20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,No,1,Reciprocating,Personal,2,0.0,0.0,0.0,UNK
1,20001218X45447,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,No,1,Reciprocating,Personal,4,0.0,0.0,0.0,UNK
2,20061025X01555,Accident,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,No,1,Reciprocating,Personal,3,NaN,NaN,NaN,IMC
3,20001218X45448,Accident,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,No,1,Reciprocating,Personal,2,0.0,0.0,0.0,IMC
4,20041105X01764,Accident,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,No,NaN,NaN,Personal,1,2.0,NaN,0.0,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,2022-12-26,"Annapolis, MD",United States,Minor,NaN,PIPER,PA-28-151,No,NaN,NaN,Personal,0,1.0,0.0,0.0,NaN
88885,20221227106494,Accident,2022-12-26,"Hampton, NH",United States,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,NaN,0,0.0,0.0,0.0,NaN
88886,20221227106497,Accident,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,Personal,0,0.0,0.0,1.0,VMC
88887,20221227106498,Accident,2022-12-26,"Morgan, UT",United States,NaN,NaN,CESSNA,210N,No,NaN,NaN,Personal,0,0.0,0.0,0.0,NaN
88888,20221230106513,Accident,2022-12-29,"Athens, GA",United States,Minor,NaN,PIPER,PA-24-260,No,NaN,NaN,Personal,0,1.0,0.0,1.0,NaN

In [17]:
type(df['Location'])

pandas.core.series.Series

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88851 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88851 non-null  object
 1   Investigation.Type      88851 non-null  object
 2   Event.Date              88851 non-null  object
 3   Location                88851 non-null  object
 4   Country                 88625 non-null  object
 5   Injury.Severity         87852 non-null  object
 6   Aircraft.damage         85660 non-null  object
 7   Make                    88788 non-null  object
 8   Model                   88759 non-null  object
 9   Amateur.Built           88749 non-null  object
 10  Number.of.Engines       82771 non-null  object
 11  Engine.Type             81756 non-null  object
 12  Purpose.of.flight       82660 non-null  object
 13  Total.Fatal.Injuries    77453 non-null  object
 14  Total.Serious.Injuries  76352 non-null  float64
 15  Total.Minor.Injuries    76928 non-null  float64
 16  Total.Uninjured         82943 non-null  float64
 17  Weather.Condition       84360 non-null  object
dtypes: float64(3), object(15)
memory usage: 12.9+ MB

####Country

In [19]:
df['Country'].isnull().sum()

226

In [20]:
# Filling the NaN with Unknown
df['Country'] = df['Country'].fillna('Unknown')

In [21]:
df['Country'].unique()

array(['United States', 'Unknown', 'GULF OF MEXICO', 'Puerto Rico',
       'ATLANTIC OCEAN', 'HIGH ISLAND', 'Bahamas', 'MISSING', 'Pakistan',
       'Angola', 'Germany', 'Korea, Republic Of', 'Martinique',
       'American Samoa', 'PACIFIC OCEAN', 'Canada', 'Bolivia', 'Mexico',
       'Dominica', 'Netherlands Antilles', 'Iceland', 'Greece', 'Guam',
       'Australia', 'CARIBBEAN SEA', 'West Indies', 'Japan',
       'Philippines', 'Venezuela', 'Bermuda', 'San Juan Islands',
       'Colombia', 'El Salvador', 'United Kingdom',
       'British Virgin Islands', 'Netherlands', 'Costa Rica',
       'Mozambique', 'Jamaica', 'Panama', 'Guyana', 'Norway', 'Hong Kong',
       'Portugal', 'Malaysia', 'Turks And Caicos Islands',
       'Northern Mariana Islands', 'Dominican Republic', 'Suriname',
       'Honduras', 'Congo', 'Belize', 'Guatemala', 'Anguilla', 'France',
       'St Vincent And The Grenadines', 'Haiti', 'Montserrat',
       'Papua New Guinea', 'Cayman Islands', 'Sweden', 'Taiwan',
       'Senegal', 'Barbados', 'BLOCK 651A', 'Brazil', 'Mauritius',
       'Argentina', 'Kenya', 'Ecuador', 'Aruba', 'Saudi Arabia', 'Cuba',
       'Italy', 'French Guiana', 'Denmark', 'Sudan', 'Spain',
       'Federated States Of Micronesia', 'St Lucia', 'Switzerland',
       'Central African Republic', 'Algeria', 'Turkey', 'Nicaragua',
       'Marshall Islands', 'Trinidad And Tobago', 'Poland', 'Belarus',
       'Austria', 'Malta', 'Cameroon', 'Solomon Islands', 'Zambia',
       'Peru', 'Croatia', 'Fiji', 'South Africa', 'India', 'Ethiopia',
       'Ireland', 'Chile', 'Antigua And Barbuda', 'Uganda', 'China',
       'Cambodia', 'Paraguay', 'Thailand', 'Belgium', 'Gambia', 'Uruguay',
       'Tanzania', 'Mali', 'Indonesia', 'Bahrain', 'Kazakhstan', 'Egypt',
       'Russia', 'Cyprus', "Cote D'ivoire", 'Nigeria', 'Greenland',
       'Vietnam', 'New Zealand', 'Singapore', 'Ghana', 'Gabon', 'Nepal',
       'Slovakia', 'Finland', 'Liberia', 'Romania', 'Maldives',
       'Antarctica', 'Zimbabwe', 'Botswana', 'Isle of Man', 'Latvia',
       'Niger', 'French Polynesia', 'Guadeloupe', 'Ivory Coast',
       'Tunisia', 'Eritrea', 'Gibraltar', 'Namibia', 'Czech Republic',
       'Benin', 'Bosnia And Herzegovina', 'Israel', 'Estonia',
       'St Kitts And Nevis', 'Sierra Leone', 'Corsica', 'Scotland',
       'Reunion', 'United Arab Emirates', 'Afghanistan', 'Ukraine',
       'Hungary', 'Bangladesh', 'Morocco', 'Iraq', 'Jordan', 'Qatar',
       'Madagascar', 'Malawi', 'Central Africa', 'South Sudan',
       'Saint Barthelemy', 'Micronesia', 'South Korea', 'Kyrgyzstan',
       'Turks And Caicos', 'Eswatini', 'Tokelau', 'Sint Maarten', 'Macao',
       'Seychelles', 'Rwanda', 'Palau', 'Luxembourg', 'Lebanon',
       'Bosnia and Herzegovina', 'Libya', 'Guinea',
       'Saint Vincent and the Grenadines', 'UN', 'Iran', 'Lithuania',
       'Malampa', 'Antigua and Barbuda', 'AY', 'Chad', 'Cayenne',
       'New Caledonia', 'Yemen', 'Slovenia', 'Nauru', 'Niue', 'Bulgaria',
       'Republic of North Macedonia', 'Virgin Islands', 'Somalia',
       'Pacific Ocean', 'Obyan', 'Mauritania', 'Albania', 'Wolseley',
       'Wallis and Futuna', 'Saint Pierre and Miquelon', 'Georgia',
       "C�te d'Ivoire", 'South Korean', 'Serbia', 'MU', 'Guernsey',
       'Great Britain', 'Turks and Caicos Islands'], dtype=object)

In [22]:
# replacing nan and MISSING with Unknown
# replacing BLOCK 651A with Singapore since it is in singapore
df['Country'] = df['Country'].replace('nan','Unknown')
df['Country'] = df['Country'].replace('MISSING','Unknown')
df['Country'] = df['Country'].replace('BLOCK 651A','Singapore')

In [23]:
df['Country'].unique()

array(['United States', 'Unknown', 'GULF OF MEXICO', 'Puerto Rico',
       'ATLANTIC OCEAN', 'HIGH ISLAND', 'Bahamas', 'Pakistan', 'Angola',
       'Germany', 'Korea, Republic Of', 'Martinique', 'American Samoa',
       'PACIFIC OCEAN', 'Canada', 'Bolivia', 'Mexico', 'Dominica',
       'Netherlands Antilles', 'Iceland', 'Greece', 'Guam', 'Australia',
       'CARIBBEAN SEA', 'West Indies', 'Japan', 'Philippines',
       'Venezuela', 'Bermuda', 'San Juan Islands', 'Colombia',
       'El Salvador', 'United Kingdom', 'British Virgin Islands',
       'Netherlands', 'Costa Rica', 'Mozambique', 'Jamaica', 'Panama',
       'Guyana', 'Norway', 'Hong Kong', 'Portugal', 'Malaysia',
       'Turks And Caicos Islands', 'Northern Mariana Islands',
       'Dominican Republic', 'Suriname', 'Honduras', 'Congo', 'Belize',
       'Guatemala', 'Anguilla', 'France', 'St Vincent And The Grenadines',
       'Haiti', 'Montserrat', 'Papua New Guinea', 'Cayman Islands',
       'Sweden', 'Taiwan', 'Senegal', 'Barbados', 'Singapore', 'Brazil',
       'Mauritius', 'Argentina', 'Kenya', 'Ecuador', 'Aruba',
       'Saudi Arabia', 'Cuba', 'Italy', 'French Guiana', 'Denmark',
       'Sudan', 'Spain', 'Federated States Of Micronesia', 'St Lucia',
       'Switzerland', 'Central African Republic', 'Algeria', 'Turkey',
       'Nicaragua', 'Marshall Islands', 'Trinidad And Tobago', 'Poland',
       'Belarus', 'Austria', 'Malta', 'Cameroon', 'Solomon Islands',
       'Zambia', 'Peru', 'Croatia', 'Fiji', 'South Africa', 'India',
       'Ethiopia', 'Ireland', 'Chile', 'Antigua And Barbuda', 'Uganda',
       'China', 'Cambodia', 'Paraguay', 'Thailand', 'Belgium', 'Gambia',
       'Uruguay', 'Tanzania', 'Mali', 'Indonesia', 'Bahrain',
       'Kazakhstan', 'Egypt', 'Russia', 'Cyprus', "Cote D'ivoire",
       'Nigeria', 'Greenland', 'Vietnam', 'New Zealand', 'Ghana', 'Gabon',
       'Nepal', 'Slovakia', 'Finland', 'Liberia', 'Romania', 'Maldives',
       'Antarctica', 'Zimbabwe', 'Botswana', 'Isle of Man', 'Latvia',
       'Niger', 'French Polynesia', 'Guadeloupe', 'Ivory Coast',
       'Tunisia', 'Eritrea', 'Gibraltar', 'Namibia', 'Czech Republic',
       'Benin', 'Bosnia And Herzegovina', 'Israel', 'Estonia',
       'St Kitts And Nevis', 'Sierra Leone', 'Corsica', 'Scotland',
       'Reunion', 'United Arab Emirates', 'Afghanistan', 'Ukraine',
       'Hungary', 'Bangladesh', 'Morocco', 'Iraq', 'Jordan', 'Qatar',
       'Madagascar', 'Malawi', 'Central Africa', 'South Sudan',
       'Saint Barthelemy', 'Micronesia', 'South Korea', 'Kyrgyzstan',
       'Turks And Caicos', 'Eswatini', 'Tokelau', 'Sint Maarten', 'Macao',
       'Seychelles', 'Rwanda', 'Palau', 'Luxembourg', 'Lebanon',
       'Bosnia and Herzegovina', 'Libya', 'Guinea',
       'Saint Vincent and the Grenadines', 'UN', 'Iran', 'Lithuania',
       'Malampa', 'Antigua and Barbuda', 'AY', 'Chad', 'Cayenne',
       'New Caledonia', 'Yemen', 'Slovenia', 'Nauru', 'Niue', 'Bulgaria',
       'Republic of North Macedonia', 'Virgin Islands', 'Somalia',
       'Pacific Ocean', 'Obyan', 'Mauritania', 'Albania', 'Wolseley',
       'Wallis and Futuna', 'Saint Pierre and Miquelon', 'Georgia',
       "C�te d'Ivoire", 'South Korean', 'Serbia', 'MU', 'Guernsey',
       'Great Britain', 'Turks and Caicos Islands'], dtype=object)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88851 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88851 non-null  object
 1   Investigation.Type      88851 non-null  object
 2   Event.Date              88851 non-null  object
 3   Location                88851 non-null  object
 4   Country                 88851 non-null  object
 5   Injury.Severity         87852 non-null  object
 6   Aircraft.damage         85660 non-null  object
 7   Make                    88788 non-null  object
 8   Model                   88759 non-null  object
 9   Amateur.Built           88749 non-null  object
 10  Number.of.Engines       82771 non-null  object
 11  Engine.Type             81756 non-null  object
 12  Purpose.of.flight       82660 non-null  object
 13  Total.Fatal.Injuries    77453 non-null  object
 14  Total.Serious.Injuries  76352 non-null  float64
 15  Total.Minor.Injuries    76928 non-null  float64
 16  Total.Uninjured         82943 non-null  float64
 17  Weather.Condition       84360 non-null  object
dtypes: float64(3), object(15)
memory usage: 12.9+ MB

####Injury.Severity

In [25]:
df['Injury.Severity'].isnull().sum()

999

In [26]:
df['Injury.Severity'].unique()

array(['Fatal(2)', 'Fatal(4)', 'Fatal(3)', 'Fatal(1)', 'Non-Fatal',
       'Incident', 'Fatal(8)', 'Fatal(78)', 'Fatal(7)', 'Fatal(6)',
       'Fatal(5)', 'Fatal(153)', 'Fatal(12)', 'Fatal(14)', 'Fatal(23)',
       'Fatal(10)', 'Fatal(11)', 'Fatal(9)', 'Fatal(17)', 'Fatal(13)',
       'Fatal(29)', 'Fatal(70)', 'Unavailable', 'O', 'Fatal(135)',
       'Fatal(31)', 'Fatal(256)', 'Fatal(25)', 'Fatal(82)', 'Fatal(156)',
       'Fatal(28)', 'Fatal(18)', 'Fatal(43)', 'Fatal(15)', 'Fatal(270)',
       'Fatal(144)', 'Fatal(174)', 'Fatal(111)', 'Fatal(131)',
       'Fatal(20)', 'Fatal(73)', 'Fatal(27)', 'Fatal(34)', 'Fatal(87)',
       'Fatal(30)', 'Fatal(16)', 'Fatal(47)', 'Fatal(56)', 'Fatal(37)',
       'Fatal(132)', 'Fatal(68)', 'Fatal(54)', 'Fatal(52)', 'Fatal(65)',
       'Fatal(72)', 'Fatal(160)', 'Fatal(189)', 'Fatal(123)', 'Fatal(33)',
       'Fatal(110)', 'Fatal(230)', 'Fatal(97)', 'Fatal(349)',
       'Fatal(125)', 'Fatal(35)', 'Fatal(228)', 'Fatal(75)', 'Fatal(104)',
       'Fatal(229)', 'Fatal(80)', 'Fatal(217)', 'Fatal(169)', 'Fatal(88)',
       'Fatal(19)', 'Fatal(60)', 'Fatal(113)', 'Fatal(143)', 'Fatal(83)',
       'Fatal(24)', 'Fatal(44)', 'Fatal(64)', 'Fatal(92)', 'Fatal(118)',
       'Fatal(265)', 'Fatal(26)', 'Fatal(138)', 'Fatal(206)', 'Fatal(71)',
       'Fatal(21)', 'Fatal(46)', 'Fatal(102)', 'Fatal(115)',
       'BURKE LAKEFRONT', ' Coweta Co', 'Fatal(141)', 'Fatal(55)',
       'Fatal(121)', 'Fatal(45)', 'Fatal(145)', 'Fatal(117)',
       'Fatal(107)', 'Fatal(124)', 'Fatal(49)', 'Fatal(154)', 'Fatal(96)',
       'Fatal(114)', 'Fatal(199)', 'Fatal(89)', 'Fatal(57)', 'Fatal', nan,
       'Minor', 'Serious'], dtype=object)

In [27]:
# replacing Non-Fatal with fatal(0)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88851 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88851 non-null  object
 1   Investigation.Type      88851 non-null  object
 2   Event.Date              88851 non-null  object
 3   Location                88851 non-null  object
 4   Country                 88851 non-null  object
 5   Injury.Severity         87852 non-null  object
 6   Aircraft.damage         85660 non-null  object
 7   Make                    88788 non-null  object
 8   Model                   88759 non-null  object
 9   Amateur.Built           88749 non-null  object
 10  Number.of.Engines       82771 non-null  object
 11  Engine.Type             81756 non-null  object
 12  Purpose.of.flight       82660 non-null  object
 13  Total.Fatal.Injuries    77453 non-null  object
 14  Total.Serious.Injuries  76352 non-null  float64
 15  Total.Minor.Injuries    76928 non-null  float64
 16  Total.Uninjured         82943 non-null  float64
 17  Weather.Condition       84360 non-null  object
dtypes: float64(3), object(15)
memory usage: 12.9+ MB

####Aircraft.damage

In [29]:
df['Aircraft.damage'].isnull().sum()

3191

In [30]:
df['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', nan, 'Non-Fatal', 'Fatal(2)',
       'Unknown'], dtype=object)

In [31]:
df['Aircraft.damage'] = df['Aircraft.damage'].replace('nan','Unknown')
df['Aircraft.damage'] = df['Aircraft.damage'].replace('Non-Fatal','Unknown')
df['Aircraft.damage'] = df['Aircraft.damage'].replace('Fatal(2)','Unknown')
df['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', nan, 'Unknown'], dtype=object)

In [32]:
df['Aircraft.damage'] = df['Aircraft.damage'].fillna('Unknown')
df['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', 'Unknown'], dtype=object)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88851 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88851 non-null  object
 1   Investigation.Type      88851 non-null  object
 2   Event.Date              88851 non-null  object
 3   Location                88851 non-null  object
 4   Country                 88851 non-null  object
 5   Injury.Severity         87852 non-null  object
 6   Aircraft.damage         88851 non-null  object
 7   Make                    88788 non-null  object
 8   Model                   88759 non-null  object
 9   Amateur.Built           88749 non-null  object
 10  Number.of.Engines       82771 non-null  object
 11  Engine.Type             81756 non-null  object
 12  Purpose.of.flight       82660 non-null  object
 13  Total.Fatal.Injuries    77453 non-null  object
 14  Total.Serious.Injuries  76352 non-null  float64
 15  Total.Minor.Injuries    76928 non-null  float64
 16  Total.Uninjured         82943 non-null  float64
 17  Weather.Condition       84360 non-null  object
dtypes: float64(3), object(15)
memory usage: 12.9+ MB

####Make

In [34]:
df['Make'].isnull().sum()

63

In [35]:
df['Make'] = df['Make'].fillna('Unknown')

####Model

In [36]:
df['Model'].isnull().sum()

92

In [37]:
df['Model'] = df['Model'].fillna('Unknown')

####Amateur.Built

In [38]:
df['Amateur.Built'].isnull().sum()

102

In [39]:
df['Amateur.Built'].unique()

array(['No', 'Yes', nan, '206B-III', ' EURO', '172', 'B200'], dtype=object)

Gong to replace '206B-III', ' EURO', '172', 'B200' with Unknown since they might be errors from the previous column because they are Models of aircrafts.

In [40]:
df['Amateur.Built'] = df['Amateur.Built'].replace('206B-III','Unknown')
df['Amateur.Built'] = df['Amateur.Built'].replace(' EURO','Unknown')
df['Amateur.Built'] = df['Amateur.Built'].replace('172','Unknown')
df['Amateur.Built'] = df['Amateur.Built'].replace('B200','Unknown')
df['Amateur.Built'].unique()

array(['No', 'Yes', nan, 'Unknown'], dtype=object)

In [41]:
#filling missing values with Unkown too
df['Amateur.Built'] = df['Amateur.Built'].fillna('Unknown')
df['Amateur.Built'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88851 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88851 non-null  object
 1   Investigation.Type      88851 non-null  object
 2   Event.Date              88851 non-null  object
 3   Location                88851 non-null  object
 4   Country                 88851 non-null  object
 5   Injury.Severity         87852 non-null  object
 6   Aircraft.damage         88851 non-null  object
 7   Make                    88851 non-null  object
 8   Model                   88851 non-null  object
 9   Amateur.Built           88851 non-null  object
 10  Number.of.Engines       82771 non-null  object
 11  Engine.Type             81756 non-null  object
 12  Purpose.of.flight       82660 non-null  object
 13  Total.Fatal.Injuries    77453 non-null  object
 14  Total.Serious.Injuries  76352 non-null  float64
 15  Total.Minor.Injuries    76928 non-null  float64
 16  Total.Uninjured         82943 non-null  float64
 17  Weather.Condition       84360 non-null  object
dtypes: float64(3), object(15)
memory usage: 12.9+ MB

####Number.of.Engines

In [43]:
df['Number.of.Engines'].isnull().sum()

6080

In [44]:
df['Number.of.Engines'].unique()

array(['1', nan, '2', '0', '3', '4', 'No', 1.0, 2.0, 0.0, 3.0, 4.0, 'Yes',
       8.0, 6.0], dtype=object)

####Engine.Type

In [45]:
df['Engine.Type'].isnull().sum()

7095

In [46]:
df['Engine.Type'].unique()

array(['Reciprocating', nan, 'Turbo Fan', 'Turbo Shaft', 'Unknown',
       'Turbo Prop', 'Turbo Jet', '1', '2', 'Electric', 'Hybrid Rocket',
       'Geared Turbofan', 'LR', 'NONE', 'UNK'], dtype=object)

In [47]:
#replacing 1,2,NONE, UNK with Unknown
df['Engine.Type'] = df['Engine.Type'].replace('1','Unknown')
df['Engine.Type'] = df['Engine.Type'].replace('2','Unknown')
df['Engine.Type'] = df['Engine.Type'].replace('NONE','Unknown')
df['Engine.Type'] = df['Engine.Type'].replace('UNK','Unknown')
df['Engine.Type'].unique()

array(['Reciprocating', nan, 'Turbo Fan', 'Turbo Shaft', 'Unknown',
       'Turbo Prop', 'Turbo Jet', 'Electric', 'Hybrid Rocket',
       'Geared Turbofan', 'LR'], dtype=object)

####Purpose.of.flight

In [48]:
df['Purpose.of.flight'].isnull().sum()

6191

In [49]:
df['Purpose.of.flight'].unique()

array(['Personal', nan, 'Business', 'Instructional', 'Unknown', 'Ferry',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Other Work Use', 'Positioning',
       'NSCH', 'Flight Test', 'Air Race/show', 'Air Drop',
       'Public Aircraft - Federal', 'Glider Tow',
       'Public Aircraft - Local', 'External Load',
       'Public Aircraft - State', 'Banner Tow', 'Firefighting',
       'Air Race show', 'PUBS', 'ASHO', 'PUBL'], dtype=object)

####Total.Fatal.Injuries

In [50]:
df['Total.Fatal.Injuries'].isnull().sum()

11398

In [51]:
df['Total.Fatal.Injuries'].unique()

array(['2', '4', '3', '1', nan, '0', '8', '78', '7', '6', '5', '153',
       '12', '14', '23', '10', '11', '9', '17', '13', '29', '70',
       '(dba: Kenai Helicopters)', '135', '31', '256', '25', '82', 0.0,
       2.0, 1.0, 4.0, 3.0, 5.0, 6.0, 10.0, 9.0, 156.0, 28.0, 8.0, 18.0,
       43.0, 15.0, 12.0, 7.0, 14.0, 270.0, 144.0, 174.0, 11.0, 111.0,
       131.0, 20.0, 73.0, 27.0, 34.0, 25.0, 23.0, 13.0, 87.0, 30.0, 16.0,
       47.0, 56.0, 37.0, 132.0, 68.0, 54.0, 52.0, 65.0, 72.0, 160.0,
       189.0, 123.0, 33.0, 110.0, 230.0, 70.0, 97.0, 349.0, 125.0, 29.0,
       35.0, 228.0, 75.0, 104.0, 229.0, 80.0, 217.0, 169.0, 88.0, 19.0,
       60.0, 113.0, 143.0, 83.0, 24.0, 44.0, 64.0, 92.0, 118.0, 265.0,
       26.0, 138.0, 206.0, 71.0, 21.0, 46.0, 102.0, 115.0, 141.0, 55.0,
       121.0, 45.0, 145.0, 117.0, 107.0, 124.0, 49.0, 154.0, 96.0, 114.0,
       199.0, 89.0, 57.0, 17.0, '24', '49', '228', '152', '90', '89',
       '103', '158', '157', '42', '21', '77',
       ' pending outcome of trial.', '19', '18', '28', '127', '44', '50',
       '33', '239', '295', '58', '162', '43', '150', ' CAROL A. WIDENER',
       '224', '62', '66', '16', 'a-ASA', '71', '112', 188, 157, 41, 176,
       62], dtype=object)

In [52]:
#dropping rows with (dba: Kenai Helicopters),  pending outcome of trial., CAROL A. WIDENER,a-ASA

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88851 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88851 non-null  object
 1   Investigation.Type      88851 non-null  object
 2   Event.Date              88851 non-null  object
 3   Location                88851 non-null  object
 4   Country                 88851 non-null  object
 5   Injury.Severity         87852 non-null  object
 6   Aircraft.damage         88851 non-null  object
 7   Make                    88851 non-null  object
 8   Model                   88851 non-null  object
 9   Amateur.Built           88851 non-null  object
 10  Number.of.Engines       82771 non-null  object
 11  Engine.Type             81756 non-null  object
 12  Purpose.of.flight       82660 non-null  object
 13  Total.Fatal.Injuries    77453 non-null  object
 14  Total.Serious.Injuries  76352 non-null  float64
 15  Total.Minor.Injuries    76928 non-null  float64
 16  Total.Uninjured         82943 non-null  float64
 17  Weather.Condition       84360 non-null  object
dtypes: float64(3), object(15)
memory usage: 12.9+ MB

####Total.Serious.Injuries

In [54]:
df['Total.Serious.Injuries'].isnull().sum()

12499

In [55]:
df['Total.Serious.Injuries'].unique()

array([  0.,  nan,   2.,   1.,   6.,   4.,   5.,  10.,   3.,   8.,   9.,
         7.,  15.,  17.,  28.,  26.,  47.,  14.,  81.,  13., 106.,  60.,
        16.,  21.,  50.,  44.,  18.,  12.,  45.,  39.,  43.,  11.,  25.,
        59.,  23.,  55.,  63.,  88.,  41.,  34.,  53.,  33.,  67.,  35.,
        20., 137.,  19.,  27., 125., 161.,  22.])

####Total.Minor.Injuries

In [56]:
df['Total.Minor.Injuries'].isnull().sum()

11923

In [57]:
df['Total.Minor.Injuries'].unique()

array([  0.,  nan,   1.,   3.,   2.,   4.,  24.,   6.,   5.,  25.,  17.,
        19.,  33.,  14.,   8.,  13.,  15.,   7.,   9.,  16.,  20.,  11.,
        12.,  10.,  38.,  42.,  29.,  62.,  28.,  31.,  39.,  32.,  18.,
        27.,  57.,  50.,  23., 125.,  45.,  26.,  36.,  69.,  21.,  96.,
        30.,  22.,  58., 171.,  65.,  71., 200.,  68.,  47., 380.,  35.,
        43.,  84.,  40.])

####Total.Uninjured

In [58]:
df['Total.Uninjured'].isnull().sum()

5908

In [59]:
df['Total.Uninjured'].unique()

array([  0.,  nan,  44.,   2.,   1.,   3.,   6.,   4., 149.,  12., 182.,
       154.,   5.,  10.,   7., 119.,  36.,  51.,  16.,  83.,   9.,  68.,
        30.,  20.,  18.,   8., 108.,  11., 152.,  21.,  48.,  56., 113.,
       129., 109.,  29.,  13.,  84.,  74., 142., 102., 393., 128., 112.,
        17.,  65.,  67., 136.,  23., 116.,  22.,  57.,  58.,  73., 203.,
        31., 201., 412., 159.,  39., 186., 588.,  82.,  95., 146., 190.,
       245., 172.,  52.,  25.,  59., 131., 151., 180., 150.,  86.,  19.,
       133., 240.,  15., 145., 125., 440.,  77., 122., 205., 289., 110.,
        79.,  66.,  87.,  78.,  49., 104., 250.,  33., 138., 100.,  53.,
       158., 127., 160., 260.,  47.,  38., 165., 495.,  81.,  41.,  14.,
        72.,  98., 263., 188., 239.,  27., 105., 111., 212., 157.,  46.,
       121.,  75.,  71.,  45.,  91.,  99.,  85.,  96.,  50.,  93., 276.,
       365., 371., 200., 103., 189.,  37., 107.,  61.,  26., 271., 130.,
        89., 439., 132., 219.,  43., 238., 195., 118., 175.,  32., 507.,
       421.,  90., 225., 269., 169., 236., 224., 134., 106., 331., 140.,
        94., 192., 161., 270.,  69., 436., 213., 233., 115.,  42., 167.,
       137., 114., 148., 222.,  92., 375.,  76., 171., 173., 246., 234.,
       123., 220., 202., 408., 279., 363., 135., 528., 334., 178., 147.,
       126.,  62.,  70.,  97., 228., 226.,  64., 290., 206., 297., 349.,
       208., 144.,  54.,  24., 258., 304., 274., 286.,  55., 199., 221.,
        80., 272., 211., 262., 441., 194., 309., 185., 261., 241., 383.,
       177., 259., 244., 254., 156.,  40.,  34., 247., 176.,  63.,  28.,
       218., 282., 320., 204., 124., 215., 298., 120., 280., 179., 315.,
       461., 153.,  60., 308.,  88., 361., 277., 191., 235., 187., 101.,
       162.,  35., 197., 193., 164., 370., 387., 163., 139., 267., 357.,
       339., 288., 231., 300., 255., 306., 443., 385., 248., 459., 141.,
       414., 229., 166., 209., 184., 168., 170., 198., 299., 573., 223.,
       265., 322., 196., 117., 253., 399., 360., 252., 217., 155., 183.,
       227., 249., 329., 340., 699., 325., 287., 143., 243., 230., 386.,
       181., 257., 283., 404., 319., 450., 356., 216., 174., 558., 214.,
       448., 324., 338., 273., 232., 401., 312., 368., 501., 237., 307.,
       296., 291., 403., 314., 285., 311., 293., 352., 332., 384., 275.,
       210., 268., 326., 454., 278., 576., 380., 394., 362., 397., 359.,
       264., 333., 367., 302., 348., 351., 358., 295., 321., 521., 301.,
       294., 378., 207., 406., 251., 455.])

####Weather.Condition

In [60]:
df['Weather.Condition'].isnull().sum()

4491

In [61]:
df['Weather.Condition'].unique()

array(['UNK', 'IMC', 'VMC', nan, '4', '0', '2', 'Unk'], dtype=object)

In [62]:
#replacing 4,0,2, Unk with unknown
df['Weather.Condition'] = df['Weather.Condition'].replace('4','Unknown')
df['Weather.Condition'] = df['Weather.Condition'].replace('0','Unknown')
df['Weather.Condition'] = df['Weather.Condition'].replace('2','Unknown')
df['Weather.Condition'] = df['Weather.Condition'].replace('Unk','Unknown')
df['Weather.Condition'] = df['Weather.Condition'].replace('UNK','Unknown')
df['Weather.Condition'].unique()

array(['Unknown', 'IMC', 'VMC', nan], dtype=object)

## **DATA VISUALIZATION**