In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/home/muchiri/Moringa/phase1/project/AviationData.csv')

/tmp/ipykernel_31647/3455165800.py:1: DtypeWarning: Columns (6,7,17,23,28,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/muchiri/Moringa/phase1/project/AviationData.csv')

DATA CLEANING

In [3]:
# Checking the unique values in the rows mentioned above to determine what data type to assign each column.
for col in [6, 7, 17, 23, 28, 31]:
    print(df.iloc[:, col].unique())

[nan 36.922223 42.445277 ... '321814N' '039101N' '373829N']
[nan -81.878056 -70.758333 ... '1114536W' '0835218W' '0121410W']
['1' nan '2' '0' '3' '4' 'No' 1.0 2.0 0.0 3.0 4.0 'Yes' 8.0 6.0]
['2' '4' '3' '1' nan '0' '8' '78' '7' '6' '5' '153' '12' '14' '23' '10'
 '11' '9' '17' '13' '29' '70' '(dba: Kenai Helicopters)' '135' '31' '256'
 '25' '82' 0.0 2.0 1.0 4.0 3.0 5.0 6.0 10.0 9.0 156.0 28.0 8.0 18.0 43.0
 15.0 12.0 7.0 14.0 270.0 144.0 174.0 11.0 111.0 131.0 20.0 73.0 27.0 34.0
 25.0 23.0 13.0 87.0 30.0 16.0 47.0 56.0 37.0 132.0 68.0 54.0 52.0 65.0
 72.0 160.0 189.0 123.0 33.0 110.0 230.0 70.0 97.0 349.0 125.0 29.0 35.0
 228.0 75.0 104.0 229.0 80.0 217.0 169.0 88.0 19.0 60.0 113.0 143.0 83.0
 24.0 44.0 64.0 92.0 118.0 265.0 26.0 138.0 206.0 71.0 21.0 46.0 102.0
 115.0 141.0 55.0 121.0 45.0 145.0 117.0 107.0 124.0 49.0 154.0 96.0 114.0
 199.0 89.0 57.0 17.0 '24' '49' '228' '152' '90' '89' '103' '158' '157'
 '42' '21' '77' ' pending outcome of trial.' '19' '18' '28' '127' '44'
 '50' '33' '239' '295' '58' '162' '43' '150' ' CAROL A. WIDENER' '224'
 '62' '66' '16' 'a-ASA' '71' '112' 188 157 41 176 62]
['Cruise' 'Unknown' 'Approach' 'Climb' 'Takeoff' 'Landing' 'Taxi'
 'Descent' 'Maneuvering' 'Standing' 'Go-around' 'Other' nan 'VMC' 'IMC']
[nan '21-06-2000' '25-11-2003' '13-09-2005' '03-11-2020' '25-09-2020']

In [4]:
# Checking the columns that were mentioned and what they represent.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52703 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32289 non-null  object
 13  Registration.Number     87505 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82806 non-null  object
 18  Engine.Type             81792 non-null  object
 19  FAR.Description         32026 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82694 non-null  object
 22  Air.carrier             16651 non-null  object
 23  Total.Fatal.Injuries    77486 non-null  object
 24  Total.Serious.Injuries  76380 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82976 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61726 non-null  object
 29  Report.Status           82502 non-null  object
 30  Publication.Date        75118 non-null  object
 31  Unnamed: 31             26 non-null     object
dtypes: float64(3), object(29)
memory usage: 21.7+ MB

Out of the mentioned columns, i only need columns 17 and 23; so i will focus on them
and drop the other columns later.

In [5]:
# changing column 23 to string to avoid dtype issues
df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries'].astype(str)

# converting the numeric-like values and setting others to NaN
df['Total.Fatal.Injuries'] = pd.to_numeric(df['Total.Fatal.Injuries'], errors='coerce')

In [6]:
# changing column 17 to string to avoid dtype issues then converting numeric-like values
# and setting others to NaN
df['Number.of.Engines'] = df['Number.of.Engines'].astype(str)
df['Number.of.Engines'] = pd.to_numeric(df['Number.of.Engines'], errors='coerce')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52703 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32289 non-null  object
 13  Registration.Number     87505 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82802 non-null  float64
 18  Engine.Type             81792 non-null  object
 19  FAR.Description         32026 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82694 non-null  object
 22  Air.carrier             16651 non-null  object
 23  Total.Fatal.Injuries    77482 non-null  float64
 24  Total.Serious.Injuries  76380 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82976 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61726 non-null  object
 29  Report.Status           82502 non-null  object
 30  Publication.Date        75118 non-null  object
 31  Unnamed: 31             26 non-null     object
dtypes: float64(5), object(27)
memory usage: 21.7+ MB

In [8]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Unnamed: 31
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,NaN
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,NaN
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,NaN
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,NaN

In [9]:
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Unnamed: 31
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,NaN
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,NaN
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,NaN

In [10]:
# Checking the total of null values in each column
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36186
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56600
Registration.Number        1384
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6087
Engine.Type                7097
FAR.Description           56863
Schedule                  76307
Purpose.of.flight          6195
Air.carrier               72238
Total.Fatal.Injuries      11407
Total.Serious.Injuries    12509
Total.Minor.Injuries      11933
Total.Uninjured            5913
Weather.Condition          4492
Broad.phase.of.flight     27163
Report.Status              6387
Publication.Date          13771
Unnamed: 31               88863
dtype: int64

In [11]:
# Dropping columns with roughly more than 25000 missing values
df.drop(['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.Category', 'FAR.Description', 'Schedule', 'Air.carrier', 'Broad.phase.of.flight', 'Unnamed: 31'], axis = 1, inplace = True)

In [12]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Injury.Severity', 'Aircraft.damage',
       'Registration.Number', 'Make', 'Model', 'Amateur.Built',
       'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Report.Status', 'Publication.Date'],
      dtype='object')

In [13]:
# Dropping columns that will not be necessary in my analysis.
df.drop(['Accident.Number', 'Registration.Number', 'Report.Status', 'Publication.Date'], axis = 1, inplace = True)

In [14]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Event.Date', 'Location', 'Country',
       'Injury.Severity', 'Aircraft.damage', 'Make', 'Model', 'Amateur.Built',
       'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition'],
      dtype='object')

In [15]:
# Checking for duplicates
df.duplicated().value_counts()

False    88851
True        38
Name: count, dtype: int64

In [16]:
df[df.duplicated(keep=False)].sort_values(by='Event.Id')

,Event.Id,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
34512,20001206X00768,Accident,1994-02-12,"GRAND CANYON, AZ",United States,Non-Fatal,Substantial,Cessna,402C,No,2.0,Reciprocating,Positioning,0.0,0.0,0.0,3.0,VMC
34513,20001206X00768,Accident,1994-02-12,"GRAND CANYON, AZ",United States,Non-Fatal,Substantial,Cessna,402C,No,2.0,Reciprocating,Positioning,0.0,0.0,0.0,3.0,VMC
34847,20001206X01157,Accident,1994-04-10,"OKEECHOBEE, FL",United States,Non-Fatal,Substantial,Globe,9C-1B,No,1.0,Reciprocating,Unknown,0.0,0.0,0.0,2.0,VMC
34846,20001206X01157,Accident,1994-04-10,"OKEECHOBEE, FL",United States,Non-Fatal,Substantial,Globe,9C-1B,No,1.0,Reciprocating,Unknown,0.0,0.0,0.0,2.0,VMC
35076,20001206X01324,Accident,1994-05-19,"STOCKTON, CA",United States,Non-Fatal,Substantial,Robinson,R22-B,No,1.0,Reciprocating,Other Work Use,0.0,0.0,1.0,1.0,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63296,20070917X01400,Accident,2007-09-02,"FARMINGDALE, NY",United States,Non-Fatal,Substantial,North American,SNJ-2,No,1.0,Reciprocating,Other Work Use,NaN,NaN,NaN,2.0,VMC
88386,20220822105776,Accident,2022-08-20,"Bealeton, VA",United States,Minor,Substantial,BOEING,A75N1,No,1.0,NaN,Business,0.0,2.0,0.0,2.0,VMC
88387,20220822105776,Accident,2022-08-20,"Bealeton, VA",United States,Minor,Substantial,BOEING,A75N1,No,1.0,NaN,Business,0.0,2.0,0.0,2.0,VMC
88527,20220921105978,Incident,2022-09-14,"Mumbai,",India,NaN,NaN,BOEING,787,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
88528,20220921105978,Incident,2022-09-14,"Mumbai,",India,NaN,NaN,BOEING,787,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN

In [17]:
# Dropping the duplicates
df = df.drop_duplicates()
df.shape

(88851, 18)

In [18]:
# Checking to see if there are anyduplicates still.
df.duplicated().value_counts()

False    88851
Name: count, dtype: int64

In [19]:
df.sample(5)

,Event.Id,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
74964,20140422X91651,Accident,2014-04-21,"Put in Bay, OH",United States,Non-Fatal,Substantial,PIPER,PA 28-181,No,1.0,Reciprocating,NaN,0.0,0.0,0.0,4.0,VMC
81187,20180218X93539,Accident,2018-02-17,"Mount Sterling, KY",United States,Non-Fatal,Substantial,CESSNA,402,No,2.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,IMC
10531,20001214X41886,Accident,1984-12-21,"BURLINGTON, VT",United States,Non-Fatal,Substantial,Cessna,140,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,VMC
11700,20001214X36383,Accident,1985-05-19,"WARRENTON, VA",United States,Non-Fatal,Substantial,Schweizer,SGS 2-33A,No,NaN,Unknown,Instructional,0.0,0.0,0.0,1.0,VMC
84183,20191112X55053,Accident,2019-11-11,"Tunis, Tunisia",Tunisia,Fatal,Destroyed,ROBINSON,R44,No,NaN,NaN,NaN,1.0,0.0,0.0,0.0,NaN

Injury.severity and Total.fatal.injuries show similar data.

In [20]:
df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Event.Date                    0
Location                     52
Country                     226
Injury.Severity             999
Aircraft.damage            3191
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7095
Purpose.of.flight          6191
Total.Fatal.Injuries      11402
Total.Serious.Injuries    12499
Total.Minor.Injuries      11923
Total.Uninjured            5908
Weather.Condition          4491
dtype: int64

In [21]:
df['Weather.Condition'].unique() # replace unk, nan,4,0,2,unk w unk. if incase the unk bcm more than the imc,vmc; 
# drop weather.

array(['UNK', 'IMC', 'VMC', nan, '4', '0', '2', 'Unk'], dtype=object)

In [22]:
#df['Weather.Condition'] = df['Weather.Condition'].fillna('UNK')
#df['Weather.Condition'] = df['Weather.Condition'].replace(4, 0)

In [23]:
df =df[df['Weather.Condition'] != 4]
#df =df[df['Weather.Condition'] != 0]
#df =df[df['Weather.Condition'] != 2]

In [24]:
df['Weather.Condition'].unique() 
# drop weather.

array(['UNK', 'IMC', 'VMC', nan, '4', '0', '2', 'Unk'], dtype=object)

In [25]:
df['Purpose.of.flight'].unique() #unkown n nan w unk

array(['Personal', nan, 'Business', 'Instructional', 'Unknown', 'Ferry',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Other Work Use', 'Positioning',
       'NSCH', 'Flight Test', 'Air Race/show', 'Air Drop',
       'Public Aircraft - Federal', 'Glider Tow',
       'Public Aircraft - Local', 'External Load',
       'Public Aircraft - State', 'Banner Tow', 'Firefighting',
       'Air Race show', 'PUBS', 'ASHO', 'PUBL'], dtype=object)

In [26]:
df['Purpose.of.flight'] = df['Purpose.of.flight'].fillna('Unkown')

In [27]:
df['Purpose.of.flight'] = df['Purpose.of.flight'].replace('Unkown', 'Unknown')

In [28]:
df['Purpose.of.flight'].unique()

array(['Personal', 'Unknown', 'Business', 'Instructional', 'Ferry',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Other Work Use', 'Positioning',
       'NSCH', 'Flight Test', 'Air Race/show', 'Air Drop',
       'Public Aircraft - Federal', 'Glider Tow',
       'Public Aircraft - Local', 'External Load',
       'Public Aircraft - State', 'Banner Tow', 'Firefighting',
       'Air Race show', 'PUBS', 'ASHO', 'PUBL'], dtype=object)

In [29]:
df['Engine.Type'].unique() # delete 1,2. replace nan, unk n unkown w unk

array(['Reciprocating', nan, 'Turbo Fan', 'Turbo Shaft', 'Unknown',
       'Turbo Prop', 'Turbo Jet', '1', '2', 'Electric', 'Hybrid Rocket',
       'Geared Turbofan', 'LR', 'NONE', 'UNK'], dtype=object)

In [30]:
df['Engine.Type'] = df['Engine.Type'].replace('Unkown', 'UNK')

In [31]:
df = df[df['Engine.Type'] != 2]

In [32]:
df['Engine.Type'].unique()

array(['Reciprocating', nan, 'Turbo Fan', 'Turbo Shaft', 'Unknown',
       'Turbo Prop', 'Turbo Jet', '1', '2', 'Electric', 'Hybrid Rocket',
       'Geared Turbofan', 'LR', 'NONE', 'UNK'], dtype=object)

In [33]:
df['Number.of.Engines'].unique()

array([ 1., nan,  2.,  0.,  3.,  4.,  8.,  6.])

In [34]:
df['Aircraft.damage'].unique() #drop fatal2, replace nan w Unkown

array(['Destroyed', 'Substantial', 'Minor', nan, 'Non-Fatal', 'Fatal(2)',
       'Unknown'], dtype=object)

In [35]:
df['Aircraft.damage'] = df['Aircraft.damage'].fillna('Unknown')

In [36]:
df['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', 'Unknown', 'Non-Fatal',
       'Fatal(2)'], dtype=object)

In [37]:
df = df[df['Aircraft.damage'] != 'Fatal(2)']

In [38]:
df['Country'].unique() # missing, unkwown w unk . block 651 w singapore

array(['United States', nan, 'GULF OF MEXICO', 'Puerto Rico',
       'ATLANTIC OCEAN', 'HIGH ISLAND', 'Bahamas', 'MISSING', 'Pakistan',
       'Angola', 'Germany', 'Korea, Republic Of', 'Martinique',
       'American Samoa', 'PACIFIC OCEAN', 'Canada', 'Bolivia', 'Mexico',
       'Dominica', 'Netherlands Antilles', 'Iceland', 'Greece', 'Guam',
       'Australia', 'CARIBBEAN SEA', 'West Indies', 'Japan',
       'Philippines', 'Venezuela', 'Bermuda', 'San Juan Islands',
       'Colombia', 'El Salvador', 'United Kingdom',
       'British Virgin Islands', 'Netherlands', 'Costa Rica',
       'Mozambique', 'Jamaica', 'Panama', 'Guyana', 'Norway', 'Hong Kong',
       'Portugal', 'Malaysia', 'Turks And Caicos Islands',
       'Northern Mariana Islands', 'Dominican Republic', 'Suriname',
       'Honduras', 'Congo', 'Belize', 'Guatemala', 'Anguilla', 'France',
       'St Vincent And The Grenadines', 'Haiti', 'Montserrat',
       'Papua New Guinea', 'Cayman Islands', 'Sweden', 'Taiwan',
       'Senegal', 'Barbados', 'BLOCK 651A', 'Brazil', 'Mauritius',
       'Argentina', 'Kenya', 'Ecuador', 'Aruba', 'Saudi Arabia', 'Cuba',
       'Italy', 'French Guiana', 'Denmark', 'Sudan', 'Spain',
       'Federated States Of Micronesia', 'St Lucia', 'Switzerland',
       'Central African Republic', 'Algeria', 'Turkey', 'Nicaragua',
       'Marshall Islands', 'Trinidad And Tobago', 'Poland', 'Belarus',
       'Austria', 'Malta', 'Cameroon', 'Solomon Islands', 'Zambia',
       'Peru', 'Croatia', 'Fiji', 'South Africa', 'India', 'Ethiopia',
       'Ireland', 'Chile', 'Antigua And Barbuda', 'Uganda', 'China',
       'Cambodia', 'Paraguay', 'Thailand', 'Belgium', 'Gambia', 'Uruguay',
       'Tanzania', 'Mali', 'Indonesia', 'Bahrain', 'Kazakhstan', 'Egypt',
       'Russia', 'Cyprus', "Cote D'ivoire", 'Nigeria', 'Greenland',
       'Vietnam', 'New Zealand', 'Singapore', 'Ghana', 'Gabon', 'Nepal',
       'Slovakia', 'Finland', 'Liberia', 'Romania', 'Maldives',
       'Antarctica', 'Zimbabwe', 'Botswana', 'Isle of Man', 'Latvia',
       'Niger', 'French Polynesia', 'Guadeloupe', 'Ivory Coast',
       'Tunisia', 'Eritrea', 'Gibraltar', 'Namibia', 'Czech Republic',
       'Benin', 'Bosnia And Herzegovina', 'Israel', 'Estonia',
       'St Kitts And Nevis', 'Sierra Leone', 'Corsica', 'Scotland',
       'Reunion', 'United Arab Emirates', 'Afghanistan', 'Ukraine',
       'Hungary', 'Bangladesh', 'Morocco', 'Iraq', 'Jordan', 'Qatar',
       'Madagascar', 'Malawi', 'Unknown', 'Central Africa', 'South Sudan',
       'Saint Barthelemy', 'Micronesia', 'South Korea', 'Kyrgyzstan',
       'Turks And Caicos', 'Eswatini', 'Tokelau', 'Sint Maarten', 'Macao',
       'Seychelles', 'Rwanda', 'Palau', 'Luxembourg', 'Lebanon',
       'Bosnia and Herzegovina', 'Libya', 'Guinea',
       'Saint Vincent and the Grenadines', 'UN', 'Iran', 'Lithuania',
       'Malampa', 'Antigua and Barbuda', 'AY', 'Chad', 'Cayenne',
       'New Caledonia', 'Yemen', 'Slovenia', 'Nauru', 'Niue', 'Bulgaria',
       'Republic of North Macedonia', 'Virgin Islands', 'Somalia',
       'Pacific Ocean', 'Obyan', 'Mauritania', 'Albania', 'Wolseley',
       'Wallis and Futuna', 'Saint Pierre and Miquelon', 'Georgia',
       "C�te d'Ivoire", 'South Korean', 'Serbia', 'MU', 'Guernsey',
       'Great Britain', 'Turks and Caicos Islands'], dtype=object)

In [39]:
df['Year'] = [int(i.split('-')[0]) for i in df['Event.Date']]
df['Month'] = [int(i.split('-')[1]) for i in df['Event.Date']]
del df['Event.Date']

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88850 entries, 0 to 88888
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88850 non-null  object
 1   Investigation.Type      88850 non-null  object
 2   Location                88798 non-null  object
 3   Country                 88624 non-null  object
 4   Injury.Severity         87851 non-null  object
 5   Aircraft.damage         88850 non-null  object
 6   Make                    88787 non-null  object
 7   Model                   88758 non-null  object
 8   Amateur.Built           88748 non-null  object
 9   Number.of.Engines       82767 non-null  float64
 10  Engine.Type             81755 non-null  object
 11  Purpose.of.flight       88850 non-null  object
 12  Total.Fatal.Injuries    77449 non-null  float64
 13  Total.Serious.Injuries  76351 non-null  float64
 14  Total.Minor.Injuries    76928 non-null  float64
 15  Total.Uninjured         82943 non-null  float64
 16  Weather.Condition       84360 non-null  object
 17  Year                    88850 non-null  int64
 18  Month                   88850 non-null  int64
dtypes: float64(5), int64(2), object(12)
memory usage: 13.6+ MB

In [42]:
df.sample(10)

,Event.Id,Investigation.Type,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Year,Month
60080,20060217X00207,Accident,"CAMARILLO, CA",United States,Non-Fatal,Substantial,Huntington,KIS,Yes,1.0,Reciprocating,Flight Test,NaN,1.0,NaN,NaN,VMC,2006,1
42189,20001208X08425,Accident,"JOSHUA TREE, CA",United States,Non-Fatal,Substantial,Cessna,172N,No,1.0,Reciprocating,Personal,0.0,0.0,3.0,0.0,VMC,1997,7
74573,20131210X33244,Accident,"Hammond, LA",United States,Non-Fatal,Substantial,ROCKWELL INTERNATIONAL,112,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,VMC,2013,12
78966,20160922X00530,Accident,"Venice, FL",United States,Non-Fatal,Substantial,AIRTIME AIRCRAFT INC,CYGNET,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,VMC,2016,9
43503,20001211X09656,Accident,"AMPORT, United Kingdom",United Kingdom,Fatal(1),Destroyed,Robinson,R22B,No,NaN,Unknown,Unknown,1.0,0.0,0.0,0.0,UNK,1998,3
2859,20020917X04748,Accident,"MAGMA, AZ",United States,Non-Fatal,Substantial,Grumman,G-164A,No,1.0,Reciprocating,Unknown,0.0,0.0,0.0,1.0,VMC,1982,9
24580,20001213X29993,Accident,"ZEPHYRHILLS, FL",United States,Non-Fatal,Substantial,Cessna,152,No,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,VMC,1989,12
47996,20001212X20674,Accident,"BUCKEYE, AZ",United States,Non-Fatal,Substantial,Aero Commander,100,No,1.0,Reciprocating,Personal,0.0,1.0,0.0,0.0,VMC,2000,3
75878,20141005X93420,Accident,"Pikeville, TN",United States,Non-Fatal,Substantial,HPH LTD,304CZ,No,NaN,NaN,Personal,0.0,0.0,0.0,1.0,VMC,2014,10
74705,20140203X35035,Accident,"Springfield, IL",United States,Non-Fatal,Substantial,PIAGGIO,P180 - AVANTI II,No,2.0,Turbo Prop,Business,0.0,0.0,0.0,5.0,IMC,2014,1

In [45]:
df['Location'].isnull().sum()

52

In [46]:
df['Injury.Severity']

0         Fatal(2)
1         Fatal(4)
2         Fatal(3)
3         Fatal(2)
4         Fatal(1)
           ...
88884        Minor
88885          NaN
88886    Non-Fatal
88887          NaN
88888        Minor
Name: Injury.Severity, Length: 88850, dtype: object

In [47]:
df['Injury.Severity'].isnull().sum()

999

In [48]:
df['Injury.Severity'].unique()

array(['Fatal(2)', 'Fatal(4)', 'Fatal(3)', 'Fatal(1)', 'Non-Fatal',
       'Incident', 'Fatal(8)', 'Fatal(78)', 'Fatal(7)', 'Fatal(6)',
       'Fatal(5)', 'Fatal(153)', 'Fatal(12)', 'Fatal(14)', 'Fatal(23)',
       'Fatal(10)', 'Fatal(11)', 'Fatal(9)', 'Fatal(17)', 'Fatal(13)',
       'Fatal(29)', 'Fatal(70)', 'Unavailable', 'O', 'Fatal(135)',
       'Fatal(31)', 'Fatal(256)', 'Fatal(25)', 'Fatal(82)', 'Fatal(156)',
       'Fatal(28)', 'Fatal(18)', 'Fatal(43)', 'Fatal(15)', 'Fatal(270)',
       'Fatal(144)', 'Fatal(174)', 'Fatal(111)', 'Fatal(131)',
       'Fatal(20)', 'Fatal(73)', 'Fatal(27)', 'Fatal(34)', 'Fatal(87)',
       'Fatal(30)', 'Fatal(16)', 'Fatal(47)', 'Fatal(56)', 'Fatal(37)',
       'Fatal(132)', 'Fatal(68)', 'Fatal(54)', 'Fatal(52)', 'Fatal(65)',
       'Fatal(72)', 'Fatal(160)', 'Fatal(189)', 'Fatal(123)', 'Fatal(33)',
       'Fatal(110)', 'Fatal(230)', 'Fatal(97)', 'Fatal(349)',
       'Fatal(125)', 'Fatal(35)', 'Fatal(228)', 'Fatal(75)', 'Fatal(104)',
       'Fatal(229)', 'Fatal(80)', 'Fatal(217)', 'Fatal(169)', 'Fatal(88)',
       'Fatal(19)', 'Fatal(60)', 'Fatal(113)', 'Fatal(143)', 'Fatal(83)',
       'Fatal(24)', 'Fatal(44)', 'Fatal(64)', 'Fatal(92)', 'Fatal(118)',
       'Fatal(265)', 'Fatal(26)', 'Fatal(138)', 'Fatal(206)', 'Fatal(71)',
       'Fatal(21)', 'Fatal(46)', 'Fatal(102)', 'Fatal(115)',
       'BURKE LAKEFRONT', 'Fatal(141)', 'Fatal(55)', 'Fatal(121)',
       'Fatal(45)', 'Fatal(145)', 'Fatal(117)', 'Fatal(107)',
       'Fatal(124)', 'Fatal(49)', 'Fatal(154)', 'Fatal(96)', 'Fatal(114)',
       'Fatal(199)', 'Fatal(89)', 'Fatal(57)', 'Fatal', nan, 'Minor',
       'Serious'], dtype=object)

In [49]:
df['Aircraft.damage'].isnull().sum()

0

In [50]:
df['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', 'Unknown', 'Non-Fatal'],
      dtype=object)

In [51]:
df.head()

,Event.Id,Investigation.Type,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Year,Month
0,20001218X45444,Accident,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,1948,10
1,20001218X45447,Accident,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,1962,7
2,20061025X01555,Accident,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,No,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,1974,8
3,20001218X45448,Accident,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,1977,6
4,20041105X01764,Accident,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,No,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,1979,8

In [52]:
df['Make'].isnull().sum()

63

In [53]:
df['Make'].unique()

array(['Stinson', 'Piper', 'Cessna', ..., 'JAMES R DERNOVSEK',
       'ORLICAN S R O', 'ROYSE RALPH L'], dtype=object)

In [54]:
df['Model'].isnull().sum()

92

In [55]:
df['Amateur.Built'].isnull().sum()

102

In [59]:
df['Amateur.Built'].unique()

array(['No', 'Yes', nan, '206B-III', ' EURO', '172'], dtype=object)

In [60]:
df['Number.of.Engines'].isnull().sum()

6083

In [61]:
df['Number.of.Engines'].unique()

array([ 1., nan,  2.,  0.,  3.,  4.,  8.,  6.])

In [62]:
df['Engine.Type'].isnull().sum()

7095

In [63]:
df['Engine.Type'].unique()

array(['Reciprocating', nan, 'Turbo Fan', 'Turbo Shaft', 'Unknown',
       'Turbo Prop', 'Turbo Jet', '1', 'Electric', 'Hybrid Rocket',
       'Geared Turbofan', 'LR', 'NONE', 'UNK'], dtype=object)

In [67]:
df['Purpose.of.flight'].unique()

array(['Personal', 'Unknown', 'Business', 'Instructional', 'Ferry',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Other Work Use', 'Positioning',
       'NSCH', 'Flight Test', 'Air Race/show', 'Air Drop',
       'Public Aircraft - Federal', 'Glider Tow',
       'Public Aircraft - Local', 'External Load',
       'Public Aircraft - State', 'Banner Tow', 'Firefighting',
       'Air Race show', 'PUBS', 'ASHO', 'PUBL'], dtype=object)